a.kcfs0 { font-size: .8em; }
a.kcfs1 { font-size: 1em; }
a.kcfs2 { font-size: 1.2em; }
a.kcfs3 { font-size: 1.4em; }
a.kcfs4 { font-size: 1.6em; }
a.kcfs5 { font-size: 1.8em; }
a.kcfs6 { font-size: 2.0em; }
a.kcfs7 { font-size: 2.2em; }
a.kcfs8 { font-size: 2.4em; }
a.kcfs9 { font-size: 2.6em; }
a.kcfs10 { font-size: 2.8em; }

/*
.keycloud span {
	font-weight: bold;
}
*/